---
import Dashboard from '@/components/Dashboard.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main class="flex h-full w-full flex-col items-center justify-start">
		<Dashboard  />
	</main>
</Layout>
