---
import { Footer } from '@/components/Footer.jsx'
import { Nav } from '@/components/Nav.jsx'
import { Toaster } from '@pheralb/toast'
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>App Notas</title>
	</head>
	<body
		class="bg-home grid h-[100vh] min-h-screen grid-rows-[auto_1fr_auto] place-items-start gap-2 md:place-items-center"
	>
		<Nav />
		<slot />
		<Footer />
		<Toaster client:load />
	</body>
</html>
