---
import { Heart } from '@lucide/astro'
---

<footer
	class="fixed bottom-0 mx-auto flex w-full items-center justify-center border-t bg-white px-4 py-2 font-semibold text-black md:py-2 dark:bg-neutral-900 dark:text-white"
>
	<p class="flex w-full items-center justify-start gap-1 text-sm">
		Hecho con{' '}
		<span>
			<Heart size="20" class="animate-pulse text-red-700 select-none" aria-label={'amor'} />
		</span>{' '}
		<span class="absolute m-[-1px] h-[1px] w-[1px] overflow-hidden border-0 p-0 whitespace-nowrap">
			amor
		</span>
		por Angelbyte
	</p>
</footer>
