---
import { ThemeToggle } from '@/components/ThemeToggle'
import { UserButton } from '@clerk/astro/components'
---

<nav
	class="sticky top-0 z-50 flex w-full items-center justify-between bg-white/50 backdrop-blur-md p-0.5 px-4 shadow-sm border-b border-[#e8e8e8] dark:border-white/[0.07] dark:bg-neutral-900/50"
	aria-label="Navegación principal"
>
	<div class="w-6" aria-hidden="true"></div>
	<h1
		class="justify-self-center py-1 text-xl font-semibold text-black uppercase md:text-2xl dark:text-white" transition:persist
	>
		pad notes
	</h1>
	<div class="flex md:gap-4 items-center gap-2">
		<ThemeToggle client:load />
		<UserButton />
	</div>
</nav>
